.container{
    grid-template-areas: "header"
    "login"
    "footer";
    gap: 3rem;

}


#login{
    grid-area: login;
    margin-inline: 20% ;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: white;
    
    
    padding-bottom: 9.5rem;
}

#login>fieldset{
    background-color:  #2A628F;
    text-align: center;
    padding: 5%;
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style: solid;
    
}

#username,#password{

    
    font-size: 2rem;
}


#login legend,#login>fieldset,#buttons>input{
    background-color:  #2A628F;
    
}

#buttons{
    margin-top: 10%;
}
#buttons>input{
    font-size: 3rem;
    color: white;
    font-family: 'Rubik', sans-serif;
    border-radius: 2rem;
}

#buttons>input:hover{
    color:  #13293D;
}

legend{
    font-size: 4rem;
    border-radius: 2rem;
    border-style: solid;
    padding: 1rem;

    font-family: 'Rubik', sans-serif;
}


@media only screen and (max-width: 768px){

    #login{

        margin-top: 20%;

    }
    footer{
        margin-top: 25%;
    }



}